<style>
      .box {
        width: 90px;
        height: 90px;
        background-color: rgb(21, 255, 0);
        font-size: 300%;
        text-align: center;
        user-select: none;
        display: block;
        position: absolute;
        top: 100px;
        /* Change me! */
        left: 0px;
      }

      .board {
        height: auto;
      }

      
    </style>
    